# Don’t commit the following directories created by pub.
build/
packages/
.buildlog

# Don’t commit the following directories, which are in development
web/xml/

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock
