/*In the file: vendor/drmonthy/chosen/css have to be display:inline-block changed to display:block.*/
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  color: #333;
}

application {
  position: relative;
  top: 50px;
}
#messages {
  padding-left: 10px;
}
#form {
  overflow: auto;
  min-height: 300px;
}
#mainColumn {
  float: left;
  padding: 10px;
  width: 80%;
}
#minorColumn {
  top: 0px;
  padding: 10px;
}
#formText {
  width: 100%;
}
footer {
  padding: 10px;
  bottom:0;
  right:0;
  position:fixed;
  z-index:150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)));
}
footer a {
  color: #333;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.ok {
  color: #006600;
}
.er {
  color: red;
}
.embeddedTest {
  margin-left: -15px;
  margin-right: -10px;
}
button {
  display:block;
}
h1 {
  cursor:pointer;
}
